@import "variables";
@import "global";
@import "scroll";
@import "table";
@import "login";
@import "icons";
@import "button";
@import "modal";
@import "menu";
@import "banner";
@import "card";
@import "img";
@import "utils-text";
@import "utils-color";
@import "utils-size";
@import "utils-border";
@import "utils-spacing";
#root{
  height: 100%;
}
.ant-layout{
  height: 100%;
  .logo{
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }
  .ant-layout-sider-collapsed{
    .anticon{
      font-size: 16px;
      margin-left: 8px;
    }
    .nav-text{
      display: none;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
      display: none;
    }
    .ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open {
      color: inherit;
    }
  }
  p {
    margin: 10px 0 10px 0;
  }
  .keyboard-shortcuts{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    cursor: default;
    position: absolute;
    bottom: 0;
    left: 1rem;
    .keyboard{
      width: auto;
      div {
        margin-bottom: .5rem;
        color: white;
        height: 1rem;
        i{
          font-size: 13px;
          line-height: 18px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 2px;
          color: #6064ad;
          display: inline-block;
          width: 1rem;
          height: 1rem;
          line-height: 1rem;
          text-align: center;
          text-transform: uppercase;
          vertical-align: text-bottom;
          font-style: normal;
          margin-right: .5rem;
          &.letter-esc{
            width: 2rem;
          }
        }
        span{
          opacity: 0.6;
        }
      }
    }
  }
}
.gutter-example{
  .ant-row{
    //margin-left: 0 !important;
    //margin-right: 0 !important;
    >div{
      background: transparent;
      border: 0;
    }
  }
}
.gutter-box {
  padding: 5px 0;
}

:global {
  .ant-card-head-title {
    font-size: 14px !important;
  }
}